################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/P7CreateRestApi/.vs
/P7CreateRestApi.Tests/bin/Debug/net8.0
/P7CreateRestApi.Tests/obj
P7CreateRestApi.Tests/coverage-report/
P7CreateRestApi.Tests/__Instrumented/
P7CreateRestApi/logs/
P7CreateRestApi/Migrations/20240711092136_M7.cs
P7CreateRestApi/Migrations/20240711092136_M7.Designer.cs
P7CreateRestApi/Migrations/LocalDbContextModelSnapshot.cs
.vscode/

